.admin-products-container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

    .admin-products-container table {
        width: 100%;
        border-collapse: collapse;
    }

    .admin-products-container th, .admin-products-container td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .admin-products-container h2 {
        margin-bottom: 20px;
    }
