/* src/Style/AdminProductUpdate.css */
.product-update-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .modal-content h3 {
        font-size: 22px;
        color: #5c4033;
        margin-bottom: 20px;
    }

    .modal-content p {
        margin-bottom: 20px;
    }

    .modal-content input[type="number"] {
        padding: 10px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 8px;
        border: 1px solid #ccc;
    }

    .modal-content button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #d6a675;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 10px 5px;
    }

        .modal-content button:hover {
            background-color: #bf8b50;
        }
